<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Shopping List App</title>
		<link rel="stylesheet" href="style.css" />
	</head>

	<body>
		<div id="shopping-list" v-cloak>
			<div class="header">
				<h1>{{header || "Welcome"}}</h1>
				<button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">
					Cancel
				</button>
				<button v-else @click="doEdit(true)" class="btn btn-primary">
					Add Item
				</button>
			</div>

			<div v-if="editing" class="add-item-form">
				<input
					@keyup.enter="saveItem"
					type="text"
					v-model="newItem"
					placeholder="Add an item"
				/>
				<br />
				<br />
				<label>
					<input type="checkbox" v-model="newItemHighPriority" /> High
					Priority</label
				>
				<button
					class="btn btn-primary"
					@click="saveItem"
					@disabled="newItem.length < 4"
				>
					Save item
				</button>
			</div>
			<!-- 	<a v-bind:href="newItem" target="_blank">Dynamic link</a> -->
			<p v-if="this.items.length == 0">
				Congrats, you bought all of your items!
			</p>
			<ul>
				<li v-for="(item, index) in items" :key="item.id">{{item.label}}</li>
			</ul>
		</div>
		<script src="https://unpkg.com/vue@next"></script>
		<script>
			const shoppingListApp = Vue.createApp({
				data() {
					return {
						header: "Shopping List App",
						editing: true, //change to false. True is temporary for testing purposes
						newItem: "",
						newItemHighPriority: false,
						items: [
							/* 	{ id: 1, label: "apples" },
							{ id: 2, label: "water" },
							{ id: 3, label: "juice" },
							{ id: 4, label: "oranges" }, */
						],
					};
				},
				methods: {
					saveItem() {
						this.items.push({ id: this.items.length + 1, label: this.newItem });
						this.newItem = "";
					},
					doEdit(key) {
						this.editing = key;
						this.newItem = "";
					},
				},
			}).mount("#shopping-list");
		</script>
	</body>
</html>
